.order-summary-container {
    width: 100%;
    max-width: 650px;
    margin: 50px auto;
    padding: 25px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    .order-placed-message {
        text-align: center;
    }

    h1, h3 {
        color: #333;
        margin-bottom: 15px;
        text-align: unset;
    }

    p {
        margin-bottom: 15px;
        font-weight: normal;
        color: #666;
    }
}
