.search-bar-container {
    position: relative;
    // Add styles for the search bar container
  
    .search-results {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 10;
      background: #fff;
      border: 1px solid #ccc;
      list-style: none;
      padding: 0;
      margin: 0;
      
      li {
        padding: 10px;
        cursor: pointer;
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
  